{% load flexiform_extras %}
{% load svg %}

{% comment %}
  Context passed in BaseForm.render
{% endcomment %}


{% if graph_url %}
  <div class="network-graph-container" data-url="{{ graph_url|default:'' }}">
    <div class="network-graph-loading">
      {% svg_icon 'spinner' rotate=True %}
    </div>
  </div>
{% endif %}

{% for field_group in grouped_fields %}
  {% if field_group.type == 'fieldset' %}
    {% include 'flexiform/form/parts/fieldset.html' with fieldset=field_group %}
  {% elif field_group.type == 'row' %}
    {% include 'flexiform/form/parts/row.html' with row=field_group %}
  {% else %}
    {# Start of single field #}
    {% with field=form|keyvalue:field_group %}
      {% include 'flexiform/form/parts/field.html' %}
    {% endwith %}
    {# End of single field #}
  {% endif %}
{% empty %}
  {# Default form (no groups) #}
  {{ form.as_p }}
{% endfor %}
